{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-4  box-form">
        <h2>Creating user</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_widget(form2) }}
        {{ form_errors(form) }}
        {{ form_errors(form2) }}
        <input type="submit" value="Create" class="btn btn-success mt-3">
        {{ form_end(form) }}
    </div>
{% endblock %}